@font-face {
  font-family: "Roboto";
  src: url(./font/Roboto.ttf);
}

.body {
  width: 90%;
  margin: auto;
  font-size: 1rem;
  font-family: "Roboto";
}

header {
  background-color: #EBEBEB;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

figure {
  text-align: center;
}

div.input-group {
  justify-content: space-between;
}

hr {
  background-color: #EAEFF5;
}

em {
  background-color: grey;
  color: white;
  border-radius: 3px;
  padding: 3px;
  font-size: 0.7rem;
}

button {
  font-size: 0.8rem !important;
}

.br-30 {
  border-radius: 30px !important;
}

.br-10 {
  border-radius: 10px;
}

.grey-gradient {
  background: #F9F9F9;
  background: -webkit-linear-gradient(#F9F9F9, #EBEBEB);
  background: -o-linear-gradient(#F9F9F9, #EBEBEB);
  background: -moz-linear-gradient(#F9F9F9, #EBEBEB);
  background: linear-gradient(#F9F9F9, #EBEBEB);
}

.shadow {
  -moz-box-shadow: 1px 1px 30px 1px #656565;
  -webkit-box-shadow: 1px 1px 30px 1px #656565;
  -o-box-shadow: 1px 1px 30px 1px #656565;
  box-shadow: 1px 1px 30px 1px #656565;
}

.b-grey {
  border: 1px solid #EBEBEB;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-device-width: 768px) {
  body {
    font-size: 0.8rem;
  }
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 0.6rem;
  }
}